@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

/* Scrollbar size */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}
